body{
  margin:0; background:#000; color:#fff; font-family:Arial,sans-serif;
}
#app{
  max-width:1000px; margin:auto; padding:15px;
}
h2{ text-align:center; margin-bottom:15px; }
input, button{
  width:100%; padding:12px; margin:5px 0; border-radius:8px; border:none; font-size:16px;
}
button{ background:#e50914; color:#fff; cursor:pointer; }
video{ width:100%; max-height:500px; background:#000; border-radius:12px; margin-top:10px; }
